@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.upload-button{
  padding: 11px;
  display: inline-block;
  margin-bottom: 8px;
}

.list-container{
  width: 100%;
}

.result-container{
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.result-container > img{
  width: 49%;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
}
